
<!-- <h3 class="mb-5 text-lg font-medium text-gray-900">Categories disponible</h3> -->
<ul class="grid w-full gap-3 md:grid-cols-5 border-t-2 border-dashed border-gray-200 mt-3 pt-3">
    <li class="">
        <input type="checkbox" id="label1" value="" class="hidden peer" required="">
        <label for="label1" class="inline-flex items-center justify-between w-full p-3.5 text-gray-500 bg-red-100 border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">                           
            <div class="block">
                <!-- <ng-icon name="hugePackageSent" class="text-2xl" /> -->
                <div class="flex flex-col items-center mt-5">
                    <div class="w-full text-lg font-semibold">Tous</div>
                    <div class="w-full text-xs">15 produits</div>
                </div>
            </div>
        </label>
    </li>
    <li class="">
        <input type="checkbox" id="label2" value="" class="hidden peer" required="">
        <label for="label2" class="inline-flex items-center justify-between w-full p-3.5 text-gray-500 bg-green-100 border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">                           
            <div class="block">
                <ng-icon name="hugePackageSent" class="text-2xl" />
                <div class="flex flex-col items-center mt-5">
                    <div class="w-full text-lg font-semibold">Lorem Ipsum</div>
                    <div class="w-full text-xs">15 produits</div>
                </div>
            </div>
        </label>
    </li>
    <li class="">
        <input type="checkbox" id="label3" value="" class="hidden peer" required="">
        <label for="label3" class="inline-flex items-center justify-between w-full p-3.5 text-gray-500 bg-yellow-100 border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600  hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">                           
            <div class="block">
                <ng-icon name="hugePackageSent" class="text-2xl" />
                <div class="flex flex-col items-center mt-5">
                    <div class="w-full text-lg font-semibold">Lorem Ipsum</div>
                    <div class="w-full text-xs">15 produits</div>
                </div>
            </div>
        </label>
    </li>
    <li class="">
        <input type="checkbox" id="label4" value="" class="hidden peer" required="">
        <label for="label4" class="inline-flex items-center justify-between w-full p-3.5 text-gray-500 bg-blue-100 border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">                           
            <div class="block">
                <ng-icon name="hugePackageSent" class="text-2xl" />
                <div class="flex flex-col items-center mt-5">
                    <div class="w-full text-lg font-semibold">Lorem Ipsum</div>
                    <div class="w-full text-xs">15 produits</div>
                </div>
            </div>
        </label>
    </li>
    <li class="">
        <input type="checkbox" id="label4" value="" class="hidden peer" required="">
        <label for="label4" class="inline-flex items-center justify-between w-full p-3.5 text-gray-500 bg-red-100 border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">                           
            <div class="block">
                <ng-icon name="hugePackageSent" class="text-2xl" />
                <div class="flex flex-col items-center mt-5">
                    <div class="w-full text-lg font-semibold">Lorem Ipsum </div>
                    <div class="w-full text-xs">15 produits</div>
                </div>
            </div>
        </label> 
    </li>
</ul>
