/* Animations */
.transition-colors {
  transition: background-color 0.2s, color 0.2s;
}

.hover\:bg-blue-50:hover {
  background-color: rgb(239 246 255);
}

.hover\:bg-gray-200:hover {
  background-color: rgb(229 231 235);
}

.hover\:bg-gray-300:hover {
  background-color: rgb(209 213 219);
}

.hover\:bg-blue-600:hover {
  background-color: rgb(37 99 235);
}

/* Gradient backgrounds */
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-blue-500 {
  --tw-gradient-from: rgb(59 130 246);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(59 130 246 / 0));
}

.to-blue-600 {
  --tw-gradient-to: rgb(37 99 235);
}
